<app-carousel></app-carousel>

<section class="container-home">
  <div class="header">
    <div class="box">
      <h1>Womens' Clothing</h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item"><a href="#">Library</a></li>
          <li class="breadcrumb-item active" aria-current="page">Data</li>
        </ol>
      </nav>
    </div>
    <div class="box">
      <select class="form-control">
        <option value="all">Most popular</option>
      </select>
    </div>
  </div>
</section>
