section {
  .btn-toggle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1.2rem;
    font-weight: 600;
    width: 100%;
    color: var(--black);
    transition: all 1s cubic-bezier(0.2, 1, 0.22, 1);
    text-align: left;
    padding-left: 0;
    margin-left: 0;
    border-bottom: 0.02rem solid #d6d6d6;
    border-radius: 0;

    &:hover {
      color: var(--dark);
    }

    i {
      font-size: 0.8rem;
    }
  }

  &.size,
  &.category,
  &.price {
    margin-bottom: 0.8rem;
  }
}
